@import url('https://fonts.googleapis.com/css?family=Tinos&display=swap');

body {
    font-family: 'Tinos', sans-serif;
    background-color: #ffffff;
    color: azure;
    margin: 0;
    line-height: 1.6;
}

/* showcase */
#showcase{
    margin: 0;
    padding: 0;
    background: url('../img/showcase.jpe') no-repeat center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
    /* remove the white line on top of the narbar */
    overflow-y: hidden;
}

#showcase .container{
    margin-top: 20vh;
}

#showcase h1{
    font-size: 4rem;
    margin-bottom: 0;
}

#showcase h2{
    font-size: 2rem;
}

/* utility */
.container{
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 2.5rem;
}

.lead{
    font-size: 1.3rem;
}

/* navigation */
nav {
    height: 40px;
    width: 100%;
    background-color: #493eacab;
    color: #eee;
    position: fixed;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
    text-decoration: none;
}

nav li:hover {
    background-color: #493eacab;
}

nav a#openup {
    display: none;
}
  
@media screen and (max-width: 550px) {
    .hide-content{
        display: none;
    }

    #showcase{
        height: 50vh;
    }

    #showcase .container{
        margin-top: 12vh;
    }

    #showcase h1{
        font-size: 3rem;
    }
    
    #showcase h2{
        font-size: 1.6rem;
    }

    nav {
        height: auto;
        border-bottom: 0;
    }
    nav ul {
        display: none;
        height: auto;
    }
    nav li {
        width: 100%;
        float: left;
        position: relative;
    }
    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
        background: #493eacab;
        border-bottom: 1px solid #555;
    }
    nav a:hover {
      background: #493eacab;
    }
    nav a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 20px;
    }
    nav a#openup {
        display: block;
        background-color: #493eacab;
        width: 100%;
        position: relative;
    }
}

.cf:before, .cf:after {
    content: "";
    display: table;
}
  
.cf:after {
    clear: both;
}
  
.cf {
    zoom: 1;
}